<!DOCTYPE html>
<html ng-app="customerPagination">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>
<ul class="pagination" ng-controller="CustomerController">
    <li ng-class="{disabled: page.number === 0}">
        <a ng-show="page.number !== 0" ng-href="#{{basePath}}?page=0&size={{page.size}}&sort={{sort}}">&laquo;</a>
        <span ng-show="page.number === 0">&laquo;</span>
    </li>
    <li ng-class="{disabled: page.number === 0}">
        <a ng-show="page.number !== 0" ng-href="#{{basePath}}?page={{page.number - 1}}&size={{page.size}}&sort={{sort}}">Prev</a>
        <span ng-show="page.number === 0">Prev</span>
    </li>
    <li ng-repeat="n in [] | pages: page.number:page.totalPages:5" ng-class="{active: n === page.number}">
        <a ng-show="page.number !== n" ng-href="#{{basePath}}?page={{n}}&size={{page.size}}&sort={{sort}}">{{n + 1}}</a>
        <span ng-show="page.number === n">{{n + 1}}</span>
    </li>
    <li ng-class="{disabled: page.number === page.totalPages - 1}">
        <a ng-show="page.number !== page.totalPages - 1" ng-href="#{{basePath}}?page={{page.number + 1}}&size={{page.size}}&sort={{sort}}">Next</a>
        <span ng-show="page.number === page.totalPages - 1">Next</span>
    </li>
    <li ng-class="{disabled: page.number === page.totalPages - 1}">
        <a ng-show="page.number !== page.totalPages - 1" ng-href="#{{basePath}}?page={{page.totalPages - 1}}&size={{page.size}}&sort={{sort}}">&raquo;</a>
        <span ng-show="page.number === page.totalPages - 1">&raquo;</span>
    </li>
</ul>
